@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'variables';

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-fastest {
  transition-duration: 75ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.transition-slow {
  transition-duration: 300ms;
}
.transition-slower {
  transition-duration: 500ms;
}
.transition-slowest {
  transition-duration: 700ms;
}

.transition-all {
  transition-property: all;
}
.transition-opacity {
  transition-property: opacity;
}
.transition-transform {
  transition-property: transform;
}

.focus-visible.focus-visible\:underline {
  text-decoration: underline;
}


.modal-height {
    max-height: calc(100vh - 250px);
    min-height: calc(100vh - 250px);
}

.w-custom {
    width: 56rem;
}

.shadow-outline-green {
     box-shadow: 0px 0px 0px 3px rgba(5, 202, 160, 0.8);
}

.box:focus {
    box-shadow: 0px 0px 0px 3px rgba(5, 202, 160, 0.8);
}

.width-100 {
  width: 32rem;
}

.width-80 {
  width: 26rem;
}

.w-72 {
    width: 22rem;
}

.h-72 {
    height: 22rem;
}

.modal{
    display: block !important;
}
.modal-dialog{
      overflow-y: initial !important
}

.notification {
  padding: 15px;
  margin-top:10px;
  margin-right: 10px;
 
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
 
  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }
 
  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
 
  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}


#main {
  display: grid;
  grid-template-columns: 6rem auto;
  /* Or grid-template-columns: config('width.24') auto; */
}

@media (min-width: 1200px) { 
/* Or @media (min-width: config('screens.xl')) { */
  
  #main { grid-template-columns: 12rem auto; }
  /* Or #main { grid-template-columns: config('width.48') auto; } */
}

.active-tab {
    @apply bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold
}

.button {
  @apply tracking-wider text-white bg-blue-600 px-6 py-2 text-lg rounded-md mb-8 bg-orange-600
}

a {
  text-decoration: none;
  /* Or @apply .no-underline; */
}

/* Just a new padding size */
.pt-16 {
  padding-top: 4rem;
}

/*
 * Just some customized new utilities needed for the submenus
 * Add this before
 */
.top-full { top: 100%; }
.left-full { left: 100%; }

/*
 * This hacks is just needed in Codepen because the previous rules are prioritary to xl:pin-none.
 * In your own config this should not be needed.
 */

@media (min-width: 1200px) {
  .xl\:pin-none { left: auto; }
}

/* 
 * Active "group-hover" for the "display" module in your
 * tailwind.js config file like this:
 * 
 * display: ['responsive', 'group-hover']
 *
 * More info on https://tailwindcss.com/docs/state-variants/#group-hover
 */
.group:hover .group-hover\:block {
  display: block;
}

.active {
  border-bottom: 2px solid #2c5282;
}


$ls-color-secondary:        #55547A;
$dropdown-link-color :                  $white;
$dropdown-bg:                           $ls-color-black;


.action-dropdown {

    .dropdown-container {
        margin: 10px 5px 0 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
    }

    .dropdown-item {
        justify-content:space-between;
        color: #040405;
    }
}

.dropdown-group {
    position: relative;

    &.active .dropdown-container {
        display: block;
    }

    .dropdown-container {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem;
        margin: .125rem 0 0 -2px;
        font-size: 1rem;
        color: $dropdown-link-color;
        text-align: left;
        list-style: none;
        background-color: white !important;
        background-clip: padding-box;
        box-shadow: 1px 1px 15px 5px #e2e8f0;
        border: 1px solid #edf2f7;
        border-radius: 6px;

        &.align-right {
            right: 0;
            left: auto;
        }

        .dropdown-group {
            display: block;
            margin: 0;
        }

        .dropdown-group-item .dropdown-item {
            display: block;
            font-size: 15px;
            padding: 8px 12px;
            font-weight: 300;
            color: $ls-color-black;
            background-color: transparent;
            border-radius: 5px;

            &:hover {
                background-color: $ls-color-gray--light;
            }

            &.active {
                color: $ls-color-primary;
            }

            i {
                color: $ls-color-gray--dark;
                margin-right: 5px;
            }
        }

        .dropdown-activator {
            position: relative;

            &::after {
                content: none !important;
            }

            &::before {
                border-color: $dropdown-link-color transparent transparent;
                border-style: solid;
                border-width: 5px 4px 0;
                content: '';
                display: block;
                height: 0;
                position: absolute;
                right: 10px;
                top: 18px;
                transition: all .2s ease-in-out;
                width: 0;
                transform: rotate(90deg);
            }
        }

        .dropdown-group.active .dropdown-activator {
            a {
                color: $dropdown-header-color;
            }

            &::before {
                transform: rotate(-90deg);
                border-color: $ls-color-primary transparent transparent;
            }
        }

        .dropdown-container {
            display: block;
             overflow-y: auto;
            overflow-x: hidden;
            margin: 0;
            left: 100%;
            top: 0;
            position: absolute;
            margin: .125rem .125rem 0;

            &.align-right {
                right: 100%;
                left: auto;
            }
        }

        .dropdon-group-item {
            position: relative;
        }
    }

    .dropdown-item-divider {
        border-top: 1px solid $white;
        height: 1px;
        margin: .5rem 0;
        overflow: hidden;
    }
}

.dropdown-group.dropdown-light {

    .dropdown-container {
        color: $ls-color-black;
        background-color: $white;
        border: 1px solid lighten($ls-color-gray--dark, 10%);

        .dropdown-group-item a {
            color: $ls-color-black;
        }

        .dropdown-group-item a.active {
            color: $ls-color-black;
            background-color: lighten($ls-color-gray, 7%);
        }

        .dropdown-group-item a:hover {
            background-color: lighten($ls-color-gray, 7%);
        }

        .dropdown-activator::before {
            border-color: $ls-color-gray--dark transparent transparent;
        }
    }

    .dropdown-container .dropdown-group.active .dropdown-activator {
        a {
            color: $ls-color-black;
            background-color: lighten($ls-color-gray, 7%);
        }

        &::before {
            border-color: $ls-color-gray--dark transparent transparent;
        }
    }

    .dropdown-item-divider {
        border-top: 1px solid $ls-color-black;
    }
}

.dropdown-item {

    .dropdown-item-icon {
        width: 20px;
        height: 14px;
        margin-right: 6px;
        color: $ls-color-secondary;
    }
}

.action {
    position: absolute;
    right: 0;
    z-index:1;

    .action-btn {
        color: $ls-color-primary;
        background: transparent;
        border: none;
    }
}


.dashboard {

    .dashboard-table
    .table-component {

        .dashboard-recent-invoice-options {

            .dropdown-container {
                margin: 10px 5px 0 -75px;
            }

        }

    }

}

.dash-item {
    flex: 3;
    padding: 0 15px 0 15px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .dashbox {
        padding: 15px;

        i {
            left: 30px;
            top: 25px;
        }

        &.dashbox-line-progress i {
            right: 15px;
            left: auto;
            top: 15px;
        }
    }

    .dashbox-circle-progress {
        padding: 30px;
    }
}

.title {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    padding-right: 25px
}


// =================================================================================================
// Walkthrough
// =================================================================================================



.icon {
    //position: absolute;
    // transform: translate(40px, 20px);
    // transform: translateY(-30px);
    left: 20px;
    top: 0;
}



.second-icon {
    margin-left: -120px;
}
